<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortly</title>

    <!-- ========google fonts========= -->
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <!-- =======Custom css files======= -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- ======navigation bar========= -->
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <div class="nav-brand">
                    <img src="./images/logo.svg" alt="logo">
                </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navlist-wrapper">
                    <div class="navlist-1">
                        <ul>
                            <li><a href="#">features</a></li>
                            <li><a href="#">pricing</a></li>
                            <li><a href="#">resources</a></li>
                            <hr>
                        </ul>
                    </div>
                    <div class="navlist-2">
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><button class="btn">sign up</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- =====main content====== -->
    <section class="main">
        <div class="container">
            <div class="main-wrapper">
                <div class="image">
                    <img src="./images/illustration-working.svg" alt="working">
                </div>
                <div class="main-content text-center">
                    <h1> More than just shorter links</h1>
                    <p>Build your brand’s recognition and get detailed insights on how your links are performing.</p>
                    <button class="btn-secondary">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <!-- =======advanced statistics section======== -->
    <section class="statistics">
        <div class="container">
            <div class="url-wrapper text-center">
                <div class="input-url">
                    <input type="text" placeholder="Shorten a link here..." id="url-input">
                </div>
                <div class="button">
                    <button id="api-button">shorten it!</button>
                </div>
            </div>
            <div class="url-populate">
                
            </div>
            <div class="statistics-content text-center">
                <h2>advanced statistics</h2>
                <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
            </div>
            <div class="three-divs text-center">
                <div class="brand-recognization">
                    <div class="icon">
                        <img src="./images/icon-brand-recognition.svg" alt="icon">
                    </div>
                    <div class="content">
                        <h4>Brand Recognition</h4>
                        <p> Boost your brand recognition with each click. Generic links don’t mean a thing. Branded
                            links help instil confidence in your content.</p>
                    </div>
                </div>
                <div class="detailed-record">
                    <div class="icon">
                        <img src="./images/icon-detailed-records.svg" alt="icon">
                    </div>
                    <div class="content">
                        <h4> Detailed Records</h4>
                        <p> Gain insights into who is clicking your links. Knowing when and where people engage with
                            your content helps inform better decisions.</p>
                    </div>
                </div>
                <div class="customizable">
                    <div class="icon">
                        <img src="./images/icon-fully-customizable.svg" alt="icon">
                    </div>
                    <div class="content">
                        <h4>Fully Customizable</h4>
                        <p> Improve brand awareness and content discoverability through customizable links,
                            supercharging audience engagement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =======boost your link today section========= -->
    <section class="boost">
        <div class="boost-content text-center">
            <div class="container">
                <h3>Boost your links today</h3>
                <button class="btn-secondary">Get Started</button>
            </div>
        </div>
    </section>

    <!-- ========footer section======= -->

    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="brand-icon">
                    <img src="./images/logo -white.svg" alt="logo">
                </div>
                <div class="meta-content-wrapper">
                    <div class="features">
                        <h6>Features</h6>
                        <ul>
                            <li><a href="#">Link Shortening</a></li>
                            <li><a href="#">Branded Links</a></li>
                            <li><a href="#">Analytics</a></li>
                        </ul>
                    </div>
                    <div class="Resources">
                        <h6>Resources</h6>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="Company">
                        <h6>Company</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social-networks">
                    <ul>
                        <li><a href="#"><img src="./images/icon-facebook.svg" alt="facebook"></a></li>
                        <li><a href="#"><img src="./images/icon-twitter.svg" alt="twitter"></a></li>
                        <li><a href="#"><img src="./images/icon-pinterest.svg" alt="pinterest"></a></li>
                        <li><a href="#"><img src="./images/icon-instagram.svg" alt="instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- =====Custom js file======= -->
    <script src="/javascript/app.js"></script>
</body>

</html>