@import url("./global.css");
@import url("./variables.css");
@import url("./responsive.css");

.navlist-wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: -50%;
  width: 90%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
  border-radius: 10px;
  background-color: var(--primaryDarkvoilet);
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.navlist-wrapper.show {
  left: 50%;
  opacity: 1;
}

.navlist-1,
.navlist-2 {
  width: 90%;
}

.navlist-wrapper ul {
  list-style-type: none;
  text-align: center;
}

.navlist-wrapper ul li {
  margin: 2rem 0rem;
}

.navlist-wrapper ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  color: whitesmoke;
  font-size: 1.3rem;
  transition: color 0.3s ease-in-out;
}

.navlist-wrapper ul li a:hover {
  color: var(--primarycyan);
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  outline: none;
}

.hamburger span {
  background-color: var(--neutralGrayishViolet);
  width: 24px;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 8px;
}

nav {
  width: 100%;
  transition: all 0.2s ease-in-out;
  height: auto;
  z-index: 22222;
}

nav.show {
  background-color: white;
  position: fixed;
  box-shadow: rgb(67 117 151 / 8%) 0px 3px 7px 0px;
}

nav .container {
  padding: 1.5rem 0rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image img {
  width: 100%;
}

section .main-content {
  padding: 2rem 0rem;
}

section .main-content .btn-secondary {
  margin: 1rem 0rem;
}

section.main {
  padding-bottom: 12rem;
}

section.statistics {
  background-color: var(--neutralGray);
  position: relative;
}

.url-wrapper {
  position: relative;
  display: grid;
  top: 0px;
  left: 0px;
  width: 100%;
  transform: translateY(-50%);
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  background: url("../images/bg-shorten-mobile.svg");
  background-position-x: right;
  background-color: var(--primaryDarkvoilet);
  background-repeat: no-repeat;
}

.input-url {
  border: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.input-url,
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-url input {
  width: 100%;
  height: 50px;
  padding: 0rem 1rem;
  border-radius: 4px;
  border: transparent;
  outline: transparent;
  color: var(--neutralVeryDarkViolet);
  font-weight: 700;
  font-size: 1rem;
}

.input-url input::placeholder {
  font-size: 1rem;
  font-weight: 700;
  line-height: 50px;
  color: var(--neutralGrayishViolet);
  word-spacing: 1px;
}

.button button {
  width: 100%;
  padding: 0.8rem 0rem;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  outline: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: whitesmoke;
  cursor: pointer;
  background-color: var(--primarycyan);
  transition: opacity 0.3s ease-in-out;
}

.button button.copied{
    background-color: var(--primaryDarkvoilet);
    animation: animate .2s alternate;
    
}

@keyframes animate{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

.button button:hover {
  opacity: 0.7;
}

.statistics-content {
  margin-top: 5rem;
}

.statistics-content p {
  line-height: 30px;
}

.three-divs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6rem;
  padding: 5rem 0rem;
  position: relative;
  z-index: 111;
}

.three-divs::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  height: 70%;
  width: 10px;
  transform: translateX(-50%);
  background-color: var(--primarycyan);
  z-index: -111;
}

.brand-recognization,
.detailed-record,
.customizable {
  background-color: whitesmoke;
  padding: 0rem 2rem 1rem 2rem;
  border-radius: 4px;
  position: relative;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-divs .icon {
  position: relative;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: var(--primaryDarkvoilet);
}

.three-divs .content p {
  line-height: 28px;
}

.boost-content {
  padding: 6rem 0rem;
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primaryDarkvoilet);
}

.boost-content button {
  margin-top: 1rem;
}

.brand-icon img path {
  fill: whitesmoke;
}

.footer {
  background-color: var(--neutralVeryDarkViolet);
  padding: 3rem 0rem;
}

.footer-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.footer-wrapper ul {
  list-style-type: none;
}

.footer-wrapper ul a {
  text-decoration: none;
  color: var(--neutralGrayishViolet);
  font-size: 1rem;
  line-height: 40px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.footer-wrapper ul a:hover {
  color: var(--primarycyan);
}

.meta-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.social-networks ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks ul li {
  padding: 0 0.5rem;
}

.result-url-wrapper {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 4px;
  margin: 1rem 0rem;
  box-shadow: rgb(67 117 151 / 8%) 0px 3px 7px 0px;
}

.short-url-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.short-url-wrapper a {
  display: block;
  padding: 0.8rem;
  color: var(--primarycyan);
  text-decoration: none;
}

.short-url-wrapper .button {
  padding: 0rem 0.8rem 0.8rem 0.8rem;
}

.short-url-wrapper .button button {
  font-size: 1rem;
}

.long-url{
    overflow-x: auto;
}

.long-url h5 {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--neutralVeryDarkViolet);
}

.url-populate {
  position: relative;
  top: 0px;
  left: 0px;
  transform: translateY(-5%);
}

.short_link {
  padding: 0.8rem;
}

.copy_url {
  width: 100%;
  outline: none;
  height: 40px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--neutralVeryDarkViolet);
}
